<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="web/assets/style.css">
  <title>Document</title>
</head>
<body>
  <form onsubmit="submitForm(event)">
    <input type="text" name="value" id="value" />
    <select name="type" id="type">

      <option value="ascii">ASCII to Binary</option>
      <option value="binary">Binary to ASCII</option>
  </select>

  <button type="submit">Submit</button>
  <button onclick="kopyala()">Copy</button> 


  </form>
  <textarea id="textbox"></textarea>
  


  <script src="web/assets/script.js"></script>
  
</body>
</html>



